
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.flip-container {
    -webkit-perspective: 1000px;
    perspective: 1000px
}

.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.back,
.flip-container,
.front {
    width: 320px;
    height: 480px
}

.flipper {
    -webkit-transition: .6s;
    transition: .6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative
}

.back,
.front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.back,
.flip-container.flip .flipper,
.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

* {
    box-sizing: border-box
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

body,
html {
    height: 100%
}

body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: #282828;
    z-index: 0
}

h1 {
    font-size: 2.375em;
    text-transform: uppercase
}

h1,
h2 {
    line-height: 1.3em
}

h2 {
    font-size: 2.25em
}

h3 {
    font-size: 1.5em;
    text-transform: uppercase
}

h3,
h4 {
    line-height: 1.3em
}

h4 {
    font-size: 1.3125em
}

h5 {
    font-size: 1em;
    line-height: 1.3em
}

.hidden {
    display: none
}

.c--blue {
    color: #a03032
}

.btn {
    display: inline-block;
    border: none;
    color: #fff;
    text-decoration: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8ccd27), color-stop(100%, #388901));
    padding: 15px 50px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 3px;
    text-align: center;
    position: relative;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease
}

.btn:hover {
    background-color: #a03032
}

.btn:active {
    background-color: #a03032
}

.btn--accent {
    opacity: 1;
    background-color: #a03032
}

.btn--accent:hover {
    background-color: #e84735
}

.btn--accent:active {
    background-color: #a03032
}

.btn--accent.next {
    margin-right: 4px;
}

section.content {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    z-index: 1
}

.step {
    width: 90%;
    max-width: 400px;
    display: none;
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: hsla(0, 0%, 100%, .9);
    border-radius: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    overflow: hidden
}

.step:first-child {
    display: block
}

.step__header {
    text-align: center;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background: #a03032;
}

.step__header ul li {
    display: inline-block;
    background: rgba(235, 92, 76, .4);
    border-radius: 50em;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    padding: 0;
    margin: 0 2px;
    color: #eee
}

.step__header ul li.active {
    background: #fff;
    color: #000
}

.step__body {
    text-align: left;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .05)
}

.step__body p {
    font-size: 1em;
    margin-bottom: 15px;
    text-align: justify;
    text-indent: 1em;
}

.step__body p:last-child {
    margin-bottom: 0
}

.step__footer {
    text-align: center;
    padding: 15px 20px
}

.step.spiner {
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
    background: #fffef7;
    border-radius: 0;
    border: none;
    opacity: .9
}

.step.spiner .spinerbox {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5em
}

.step.spiner .spinerbox p:first-child {
    margin-bottom: 0
}

.step.spiner .spinerbox img {
    display: inline-block;
    max-width: 100%
}

.bg {
    position: fixed;
    z-index: 0
}

.bg,
.bg__item {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

.bg__item {
    display: none;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative
}

.bg__item:first-child {
    background-image: url(../images/asiandate1.jpg)
}

.bg__item.active {
    display: block
}

.bg__item:after {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: rgba(0, 0, 0, .4)
}

@media (min-width:320px) and (max-width:767px) {
    .bg__item:first-child {
        background-image: url(../images/asiandate1.jpg)
    }
}

@media (min-width:320px) and (max-width:575px) {
    .hidden-xs {
        display: none
    }
}

@media (min-width:576px) and (max-width:767px) {
    .hidden-xs {
        display: none
    }

    .promocode input {
        margin-top: 10px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none
    }
}

@media (min-width:992px) and (max-width:1023px) {
    .hidden-md {
        display: none
    }
}

@media (min-width:1024px) and (max-width:1199px) {
    .hidden-md {
        display: none
    }
}

@media (min-width:1200px) and (max-width:1439px) {
    .hidden-md {
        display: none
    }
}

@media (min-width:1440px) and (max-width:1899px) {
    .hidden-lg {
        display: none
    }
}

@media (min-width:1900px) {
    .hidden-lg {
        display: none
    }
}

.unsub {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: right;
    padding: 10px 15px;
    box-sizing: border-box;
    z-index: 9999;
    background-color: transparent;
}

.unsub>a {
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    font-weight: normal;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    opacity: .6;
}


.step__header {
    color: #fff;
}